.popup {
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 425px; */
  width: 430px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* position: relative; */
  visibility: hidden;
}

.popup__close-button {
  background: url(../../images/close_button.png) no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  transition: opacity 0.5s;
  cursor: pointer;
  align-self: flex-end;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}