.profile {
  /* max-width: 880px;
  margin: 0 auto; */
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__user {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas: 
    "name button"
    "about about";
  column-gap: 18px;
  row-gap: 16px;
  /* align-items: flex-end; */

}

.profile__name {
  margin: 0;
  grid-area: name;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.profile__about {
  margin: 0;
  grid-area: about;
  font-size: 18px;
  line-height: 1.2;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background: url(../../images/edit_button.svg);
  border: none;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profile__add-button {
  background: url(../../images/add_button.svg);
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
  /* align-self: center; */
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button:hover {
  opacity: 0.6;
}