.profile {
  padding-top: 36.25px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}

.profile__user {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  max-width: 75%;
}

.profile__avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.profile__avatar {
  min-height: 120px;
  max-width: 120px;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.5s;
}

.profile__avatar-wrapper:hover .profile__avatar {
  opacity: 0.2;
}

.profile__edit-avatar-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.profile__avatar-wrapper:hover .profile__edit-avatar-icon {
  opacity: 1;
}

.profile__info {
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
  grid-template-areas: 
    "name button"
    "about about";
  column-gap: 18px;
  row-gap: 16px;
}

.profile__name {
  margin: 0;
  grid-area: name;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  align-self: center;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__about {
  margin: 0;
  grid-area: about;
  font-size: 18px;
  line-height: 1.2;
}

.profile__edit-button {
  grid-area: button;
  background: url('../../images/edit_button.svg');
  background-size: contain;
  border: none;
  width: 24px;
  height: 24px;
  align-self: center;
  padding: 0;
}

.profile__add-button {
  background: url(../../images/add_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-picture {
  width: 22px;
}

@media screen and (max-width: 1100px) {
  .profile {
    flex-direction: column;
    row-gap: 30px;
  }

  .profile__add-button {
    width: 50%;
  }
} 

@media screen and (max-width: 780px) {
    .profile {
      padding: 38.25px 19px 0;
    }

    .profile__user {
      max-width: 100%;
      flex-direction: column;
      row-gap: 26.25px;
    }

    .profile__info {
      text-align: center;
      row-gap: 14px;
      column-gap: 15.25px;
    }

    .profile__name {
      font-size: 22px;
      line-height: 1.2;
    }

    .profile__about {
      font-size: 14px;
    }

    .profile__edit-button {
      width: 18px;
      height: 18px;
    }

    .profile__add-button {
      width: 100%;
    }

    .profile__add-picture {
      width: 16px;
    }
}

@media screen and (min-width: 526px) and (max-width: 780px) {
  .profile__name {
    font-size: 32px;
  }

  .profile__about {
    font-size: 20px;
  } 

  .profile__add-button {
    max-width: 50%;
  }
}