.header {
  margin: 0 auto;
  max-width: 880px;
}

.header__underline {
  margin-top: 41px;
  color: #545454;
  size: 1px;
  opacity: 0.7;
}

/* @media screen and (min-width: 526px) and (max-width: 780px) {
  .header {
    max-width: 700px;
  }
  
} */

@media screen and (min-width:526px) and (max-width:780px) {
  .header {
    padding: 0 100px;
  }
}

@media screen and (max-width: 525px){
  .header__logo {
    padding: 0 19px;
    max-width: 126px;
  }

  .header__underline {
    margin-top: 32px;
    width: 100%;
  }  
}