.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 67px 0 0px;
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 780px) {
  .footer {
    padding: 50px 19px 0;
  }

  .footer__copyright {
    font-size: 14px;
  }  
}