<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Tatiana Bialik">
  <title>Around the U.S.</title>
  <!-- <link rel="stylesheet" href="pages/index.css"> -->
  <script> </script>
</head>

<body>
  <div class="page">

    <header class="header">
      <img 
      src="<%= require('./images/logo.svg')%>"
      alt="Around the U.S. inscription" 
      class="header__logo" />
    </header>

    <main class="main">
      <section class="profile">
        <div class="profile__user">
          <div class="profile__avatar-wrapper">
            <img 
            src=""
            alt="Profile user photo" 
            class="profile__avatar" />
            <img 
            src="<%= require('./images/edit_avatar.svg')%>" 
            alt="A pencil icon" 
            class="profile__edit-avatar-icon">
          </div>
          
          
          <div class="profile__info">
            <h1 class="profile__name"></h1>
            <p class="profile__about"></p>
            <button 
            type="button" 
            class="action-button profile__edit-button"
            aria-label="Edit profile information button">
            </button>
          </div>
        </div>
        <button 
        type="button" 
        class="action-button profile__add-button"
        aria-label="Add a card button">
        </button>
      </section>

      <section class="gallery">
        <ul class="gallery__list">
          <template id="card">
            <li class="card">
              <button 
              class="action-button card__delete-button" 
              type="button"
              aria-label="Delete card button"></button>
              <img src="#" alt=" " class="card__picture" />
              <div class="card__caption">
                <h2 class="card__description"></h2>
                <div class="card__like-wrapper">
                  <button 
                  type="button" 
                  class="card__like"
                  aria-label="Like button"></button>

                  <p class="card__like-counter">0</p>
                </div>
              </div>
            </li>
          </template>
        </ul>        
      </section>
    </main>

    <footer class="footer">
      <p class="footer__copyright">&#169; 2022 Around The U.S.</p>
    </footer>

    <div class="popup popup_type_edit">
      <div class="popup__box">
        <button 
        type="button" 
        class="action-button popup__close-button"
        aria-label="Close"></button>
        <form 
        action="#" 
        class="form form_type_edit" 
        name="edit-info-form"
        novalidate>
          <h2 class="form__title">Edit profile</h2>

          <input 
          name="name"
          type="text"
          minlength="2"
          maxlength="40"
          class="form__input form__input_type_name form__input_position_first"
          id="edit-form-name-input"
          placeholder="Enter your name"
          required />
          <span class="form__error edit-form-name-input-error"></span>

          <input 
          name="about"
          type="text"
          minlength="2"
          maxlength="200"
          class="form__input form__input_type_info form__input_position_next"
          id="edit-form-info-input"
          placeholder="Enter your info"
          required />
          <span class="form__error edit-form-info-input-error"></span>

          <button 
          type="submit" 
          class="form__submit-button"
          aria-label="Save edited information">
            Save
          </button>
        </form>
      </div>
    </div>

    <div class="popup popup_type_add-card">
      <div class="popup__box">
        <button 
        type="button" 
        class="action-button popup__close-button"
        aria-label="Close"></button>
        <form 
        action="#" 
        class="form form_type_add-card" 
        name="add-form"
        novalidate>
          <h2 class="form__title">New place</h2>

          <input 
          name="name"
          type="text"
          minlength="1"
          maxlength="30"
          class="form__input form__input_type_title form__input_position_first"
          id="add-form-title-input"
          placeholder="Title" 
          required/>
          <span class="form__error add-form-title-input-error"></span>

          <input 
          name="link"
          type="url" 
          class="form__input form__input_type_link form__input_position_next"
          id="add-form-link-input"
          placeholder="Image link"
          required />
          <span class="form__error add-form-link-input-error"></span>

          <button 
          type="submit" 
          class="form__submit-button"
          aria-label="Submit card adding">
            Create
          </button>
        </form>
      </div>
    </div>

    <div class="popup popup_type_picture">
      <div class="popup-picture-box">
        <button 
        type="button" 
        class="action-button popup__close-button popup-picture-box__button"
        aria-label="Close button"></button>
        <img 
        src="#" 
        alt="" 
        class="popup-picture-box__image">
        <p class="popup-picture-box__caption"></p>
      </div>
    </div>

    <div class="popup popup_type_delete-card">
      <div class="popup__box">
        <button 
        type="button" 
        class="action-button popup__close-button"
        aria-label="Close"></button>
        <form 
        action="#" 
        class="form form_type_delete"
        name="delete-card-form"
        novalidate>
          <h2 class="form__title">Are you sure?</h2>
          <button 
          type="submit" 
          class="form__submit-button"
          aria-label="Submit card deleting">
            Yes
          </button>
        </form>
      </div>
    </div>

    <div class="popup popup_type_edit-avatar">
      <div class="popup__box">
        <button 
        type="button" 
        class="action-button popup__close-button"
        aria-label="Close"></button>
        <form 
        action="#" 
        class="form form_type_edit-avatar" 
        name="edit-avatar-form"
        novalidate>
          <h2 class="form__title">Change profile picture</h2>

          <input 
          name="avatar"
          type="url" 
          class="form__input form__input_type_link form__input_position_first"
          id="edit-avatar-form-link-input"
          placeholder="Profile photo link"
          required />
          <span class="form__error edit-avatar-form-link-input-error"></span>

          <button 
          type="submit" 
          class="form__submit-button"
          aria-label="Submit card adding">
            Save
          </button>
        </form>
      </div>
    </div>

  </div>

  <!-- <script type="module" src="pages/index.js"></script> -->
</body>
</html>