.card__picture {
  border-radius: 10px 10px 0 0;
  display: block;
}

.card__caption {
  max-width: 100%;
  padding: 25px 15px 31px 21px;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__description {
  margin: 0;
  max-width: 225px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  width: 21px;
  height: 19px;
  background: url(../../images/like_button.svg);
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
}

.card__like:hover {
  opacity: 0.5;
}